<%= turbo_frame_tag "images_container" do %>  
  <div id='images-container'>
      <% @images.each do |image| %>
      <%= link_to(image_tag(image.representation(resize_to_limit: [100, 100])), post_image_path(@post, image.blob_id), data: {turbo_stream: true })  %>
    <% end%>
    </div>
  <div id="larger-image">
  </div>
<% end%>