<% if view != :new %>
  <button class='<%="#{primary_button}"%>'>
    <%= link_to "Create New Topic", new_topic_path %>
  </button>
<% end%>

<% if view != :index %>
  <button class='<%="#{primary_button}"%>'>
    <%= link_to "Topics", topics_path %>
  </button>
<% end%>
