<% if view != :new %>
  <button class='<%="#{primary_button}"%>'>
    <%= link_to "Create New Topic", new_topic_path(section_id: @section.id), data: {turbo_action: :advance} %>
  </button>
<% end%>

<% if view != :index %>
  <button class='<%="#{primary_button}"%>'>
    <%= link_to "Topics", group_section_path(@topic.section.group_id, @topic.section.id), data: {turbo_action: :advance} %>
  </button>
<% end%>
