<div class="container-md">
  <h1 class="text-3xl font-bold text-slate-200 underline"> Create New Topic </h1>

  <%= render "topics-buttons", state: :new, cached: true %>

  <% render "flash" %>

  <%= render "form", topic: @topic %>

</div>