<%= turbo_frame_tag "main_view" do  %>
<div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Create New Topic </h1>

  <%= render "groups-buttons", view: :new, cached: true %>

  <%= render "form", group: @group %>

</div>
<% end %>