<%= turbo_frame_tag "main_view" do  %>
<div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Create New Group </h1>

  <%= render "groups/partials/groups-buttons", view: :new, cached: true %>

  <%= render "groups/partials/form", group: Group.new %>

</div>
<% end %>