 <p> <%= "#{status} | #{details[:count]}" %> 
    <ul> 
      <div class="flex absolute flex-col left-16 opacity-0 bg-slate-400 rounded-lg hover:opacity-100">
      <% details[:names].each do |name| %>
        <li class="px-1 mt-1"> <%= "#{name}"%> </li>
      <% end %>
    </div>
  </ul>
</p>