<div>
<hr class="border-1 border-slate-600 p-2 my-2" >
  <p class="ml-6"> <span class="font-medium underline"> <%= comment.user.full_name %> </span> </p>
  <p> <span class="ml-6 text-slate-400"> <%= commented_time_ago(comment) %> </span> </p>
  <p class="ml-12"> <%= comment.content %> </p>
</div>