<button class='<%="#{primary_button}"%>'>
  <%= link_to "'#{@group.title}' Info", group_path(@group), data: {turbo_action: :advance} %>
</button>

<% if view != :new %>
  <button class='<%="#{primary_button}"%>'>
    <%= link_to "Create New Section", new_group_section_path(@group), data: {turbo_action: :advance} %>
  </button>
<% end%>

