<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
    <h1 class='<%="#{primary_header}"%>'> Posts </h1>
 
    <%= render "topics/posts/partials/posts-buttons", view: :index, cached: true %>

    <%= render "topics/posts/partials/posts", topic: @topic, posts: @topic.posts %>
  </div>
<% end %>