<div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Create New Post for "<%= @topic.title %>"</h1>

  <%= render "posts-buttons", view: :new, cached: true %>

  <%= render "form", post: @post, view: :new %>

</div>