<% if view != :new %>
  <button class="bg-slate-700 hover:bg-slate-500 text-white font-bold py-2 px-4 rounded my-4">
    <%= link_to "Create New Post", new_topic_post_path %>
  </button>
<% end%>

<% if view != :index %>
  <button class="bg-slate-700 hover:bg-slate-500 text-white font-bold py-2 px-4 rounded my-4">
    <%= link_to "Posts", topic_posts_path %>
  </button>
<% end%>