<div class="container-md">
  <h1 class="text-3xl font-bold text-slate-200 underline"> Post Details </h1>

  <%= render "posts-buttons", state: :edit, cached: true %>
  
  <%= render "form" , post: @post, state: :edit %>

  <button class="bg-slate-700 hover:bg-slate-500 text-white font-bold py-2 px-4 rounded my-4">
    <%= link_to "Cancel Edit", topic_post_path(@topic.id, @post.id) %>
  </button>
</div>