<div class="container-md">
  <h1 class="text-3xl font-bold text-slate-200 underline"> Create New Post for "<%= @topic.title %>"</h1>

  <%= render "posts-buttons", state: :new, cached: true %>

  <%= render "form", post: @post, state: :new %>

</div>