<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @new_user.full_name %> has joined your group, <%= @group_title %>. </h1>
    <h2> Yay! </h2>
    <p> 
      If you think this occurred in error, please navigate to your group permissions menu and remove access. 
    </p>
  </body>
</html>