<button class='<%="#{action_button}"%>'>
    <%= link_to "Edit", edit_group_invite_path(group, invite), data: {turbo_action: :advance} %>
</button>

<button class='<%="#{action_button}"%>'>
    <%= link_to "Delete", group_invite_path(group, invite), data: {turbo_method: :delete} %>
</button>
